[v-cloak] {
  display: none;
}
img {
  border: 1px solid red;
  box-sizing: border-box;
  margin: 5px;
}
.log {
  border: 3px inset grey;
  max-height: 400px;
  white-space: nowrap;
  overflow: scroll;
}
#status {
  color: red;
}
