<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Wondrous-Badí Calendar</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="index.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <meta name="description" content="Tools and services for the Wondrous-Badí Calendar.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF8B3B">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='Wondrous-Badí Calendar'>
    <meta name='apple-mobile-web-app-status-bar-style' content='#FF8B3B'>
    <meta name='apple-mobile-web-app-title' content='Wondrous-Badí Calendar'>
    <link rel="icon" type="image/png" href="/images/badiIcon192.png" sizes="192x192">
    <link rel=apple-touch-icon href=/images/badiIcon192.png>
    <link rel="canonical" href="https://wondrous-badi.ga/" />
    <link rel='shortlink' href='https://wondrous-badi.ga/' />
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:url' content='https://wondrous-badi.ga/'>
    <meta name='twitter:creator' content='@glenlittle'>
    <meta name="twitter:site" content="@glenlittle" />
    <meta name="twitter:title" content="Wondrous-Badí Calendar" />
    <meta name="twitter:description" content="Tools for the Wondrous-Badí Calendar. 
    With special features when viewed on your Android phone!" />
    <meta name="twitter:image" content="https://wondrous-badi.ga/images/badiIcon192.png" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
</head>

<body>
    <h1>Testing the Wondrous-Badí site 2</h1>
    <div id="app" v-cloak>
        <div id=status>{{status}}</div>
        <p>{{loadTime}} - load time</p>
        <p>{{updateTime}} - immediate js update</p>
        <p>{{swTime}} - sw js update</p>
        <p>Test1: {{test1}}</p>
        <p>MessageA: {{messageA}}</p>
        <p>MessageB: {{messageB}}</p>
        <p><button v-on:click="notifyNow">Test notification</button></p>
        <p v-html="log" class=log>Log</p>
        <input type=range min=0 max=19 v-model="nameI">
        <input type=range min=1 max=19 v-model="nameNum">
        <img v-bind:src="icon2">
    </div>
    <script type="text/javascript" src="swHandler.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>